.root {
	-fx-background-color: #383838;
	-fx-font-size: 10pt;
}

.label {
	-fx-text-fill: #E8E8E8;
}

.button {
	-fx-background-color: #AB4642;
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 4;
}

.button-blue {
	-fx-background-color: #7CAFC2;
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 4;
}
#bold-label {
	-fx-font-weight: bold;
}

.style1 {
    -fx-text-fill: red;
}

.style2 {
    -fx-text-fill: blue;
}