.text-field:disabled {
    -fx-background-color: lightgray;
}

.text-result {
    -fx-font-weight: bold;
    -fx-opacity: 0.7;
}
.text-align-right {
    -fx-alignment: BOTTOM_RIGHT;
}

.text-header {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-pref-height: 20px;
    -fx-alignment: bottom-left;
}

.text-red {
    -fx-text-fill: red;
}

.text-green {
    -fx-text-fill: green;
}

